<h1>This Welcome To Kuts!!</h1>

<div>

<h3>Are you a barber or stylist looking for a new place to cut?</h3>

 
<h3>Find a barber</h3>

 <%= render 'barbers/find_barber' %>

<p>

<%= render 'barbers/form' %>

</p>

</div>



<div>
<h3>Are You Looking for a new Stylist?</h3>
 
<p>

<%= render 'clients/form' %>

</p>


</div>

<h2>
<%= link_to "Book an appointment here", new_appoint_path %>

</h2>
